* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 01;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

input:focus-visible {
    outline: none;
    border: none;
}

.container {
    max-width: 1274px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
}

.header {
    position: sticky;
    background-color: white;
    z-index: 999;
    -webkit-box-shadow: -3px 4px 26px -3px rgba(0,0,0,0.30); 
    box-shadow: -3px 4px 26px -3px rgba(0,0,0,0.30);
    top: 0;
}

.header .nav {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    padding: 0 30px;
}

.nav__action {
    padding: 0 30px;
}

.nav__action .action-btn {
    border: 1px solid green;
    border-radius: 6px;
    padding: 6px 16px;
    color: green;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.nav__action .action-btn:hover {
    color: white;
    background-color: green;
    text-decoration: none;
}

.nav__logo .icon {
    padding-right: 10px;
    color: green;
}

.nav__logo span {
    font-size: 1rem;
    font-weight: bold;
}

.banner {
    min-height: 500px;
    background-color: rgb(190, 255, 190);
    display: flex;
    align-items: center;
}

.banner > div {
    display: flex;
    height: calc(100vh - 50px);
}

.banner > div > div {
    display: flex;
}

.banner__left {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner__left .banner__title {
    color: white;
    font-size: 5rem;
    font-weight: bold;
}

.banner__left .banner__description {
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-left: 1px solid #000;
    font-size: 1.125rem;
}

.banner__left .banner__btn {
    border: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    min-width: 180px;
    padding: 10px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.banner__left .banner__btn:hover {
    background-color: green;
    color: white;
}

.banner__left .banner__btn:focus {
    border: none;
    outline: none;
} 

.banner__right {
    flex: 1;
    justify-content: center;
}

.banner__right .icon {
    display: flex;
    align-items: center;
    font-size: 20rem;
    color: white;
}

.detail {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    padding: 70px 20px 20px;
    margin-bottom: 50px;
}

.detail__left {
    width: 10%;
    background-color: rgb(190, 255, 190);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 5px 5px 11px -3px #000000; 
}

.detail__left .title {
    color: white;
    font-size: 5rem;
    writing-mode: vertical-rl;
    word-break: break-all;
}

.pollution__swiper {
    height: 100%;
    width: 90%;
    border: 1px solid rgb(190, 255, 190);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 11px -3px #000000;
}

.pollution__swiper .swiper-slide {
    background-color: white;
}

.pollution__item {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    padding: 30px 60px;
    color: white;
}

.pollution__title {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.pollution__background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.pollution__background::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
}

.pollution__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.swiper-button-next, .swiper-button-prev {
    color: greenyellow;
}

.swiper-pagination {
    --swiper-theme-color: green;
}

.register {
    height: 100vh;
    background-color: rgb(190, 255, 190);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-field {
    margin: 70px 20px 20px;
    min-height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-field > * {
    padding: 0 40px;
}

.form-field > *:first-child {
    margin-top: 2.125rem;
}

.form__icon {
    font-size: 2rem;
    color: green;
}

.form__title {
    text-transform: lowercase;
    font-weight: bold;
    font-size: 2.5rem;
    color: green;
    letter-spacing: 4px;
}

.form__description {
    font-weight: lighter;
    padding-bottom: 2rem;
}

.form__input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form__input input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 6px;
    font-size: 1.125rem;
}

.form__green button {
    border: none;
    background-color: green;
    color: white;
    padding: 10px 2rem;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 10px;
}

.form__green button:hover {
    border: 1px solid green;
    background-color: transparent;
    color: green;
}

.footer {
    min-height: 300px;
    background-color: rgb(16, 49, 0);
    display: flex;
    padding: 100px;
    color: white;
}

.footer .footer-item {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}


.footer .footer-item .footer-item__title {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.125rem;
    min-height: 30px;
}

.footer .footer-item.intro .icon {
    font-size: 1.125rem;
    margin-bottom: 10px;
    min-height: 30px;
}

.footer .footer-item.social .footer-icon {
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.footer .footer-item.social .footer-icon:hover {
    opacity: 0.8;
}

.footer .footer-item.social .icon {
    font-size: 2.125rem;
}

.back2top-btn {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: green;
    align-items: center;
    color: #ffffff;
    width: 40px;
    bottom: 0;
    padding: 0.15rem 0.1rem 0.1rem;
    right: 10px;
    text-align: center;
    transition: opacity .4s;
    z-index: 29;
}

.back2top-btn.show {
    pointer-events: initial;
    opacity: 1;
    cursor: pointer;
}


.back2top-btn .icon {
    font-size: 1.75rem;
    padding: 4px 0;
}
